reserve.img
india.img
system/system/apex/com.android.vndk.current.apex
system/system/product/priv-app/Velvet/Velvet.apk
system/system/system_ext/priv-app/OnePlusCamera/OnePlusCamera.apk
system/system/system_ext/priv-app/OnePlusGallery/OnePlusGallery.apk
system/system/system_ext/priv-app/Settings/Settings.apk
