ROOT_DIR /data/training/sarah/
DB_NAME sarah.db
WINDOW_SIZE 20
AXIS_LEN 20
LMDB_DIR lmdb
FILE_LIST_SQL sql_file_list
FILE_LIST_V2 v2_neg_file_list
FILE_LIST_SQL_EVT2 sql_file_list_evt2
FILE_LIST_ALL all
MAX_ITER 10000
MAX_DAYS 42
WB_PREFIX wb.txt
CKPT_DIR checkpoints/
CKPT_PREFIX ckpt
SOLVER_PROTOTXT_NAME sarah_fc_solver.prototxt
TRAIN_PROTOTXT_NAME sarah_fc.prototxt
DEPLOY_PROTOTXT_NAME sarah_fc_deploy.prototxt
BATCH_SIZE 64
NEG_PER_POS_TARGETS 10_20_30
PAST_N_DAYS_FOR_TRAINING 2_4_8_15
N_SAMPLES_PER_DAY_LOWER_BOUND 100
LEAST_DAYS_FROM_LAST_TRAINING 1
NEGATIVE_ACC_LOWER_BOUND 99.3
MODEL_CANDIDATES_DIR candidates/
MIN_CYCLES_BEFORE_REPLACING_MECHANISM 3
MAX_CURRENT_SAMPLE_AMOUNT 2000
MAX_DAYS_FOR_TRAINING 3
MIN_SAMPLES_FOR_TRAINING 10
STATUS_FILE_PATH /data/training/sarah/current_training_status
RECENT_BEST_CANDIDATE_MODEL_PATH /data/training/sarah/recent_best
FORCE_RETRAIN_FLAG 0
IMPROVE_THRESHOLD 1
ACTIVATE_STOP_TRAINING_FLAG 0
DID_NOT_IMPROVE_SIGNIFICANTLY_TIMES_LIMIT 2
DAYS_FOR_FORCE_TO_TRAIN_FROM_LAST_CYCLE 3
